<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="general" label="GROUPS_FEATURES" description="GROUPS_FEATURES_DESC">
        <field name="root-category" type="category" label="GROUPS_ROOT_CATEGORY" description="GROUPS_ROOT_CATEGORY_DESC"
               extension="com_content"/>
        <field name="automatic-publishing" type="list" label="GROUPS_AUTOMATIC_PROFILE_PUBLISHING" default="1">
            <option value="0">GROUPS_DISABLED</option>
            <option value="1">GROUPS_ENABLED</option>
        </field>
        <field name="profile-management" type="list" label="GROUPS_PROFILE_MANAGEMENT" default="1">
            <option value="0">GROUPS_CENTRALIZED</option>
            <option value="1">GROUPS_DECENTRALIZED</option>
        </field>
        <field name="profile-content" type="list" label="GROUPS_CONTENTS" default="0">
            <option value="0">GROUPS_DISABLED</option>
            <option value="1">GROUPS_ENABLED</option>
        </field>
        <!-- TODO: ensure that a predetermined category is specified as the content root -->
        <field name="itemid" type="menuitem" label="GROUPS_MENU_ITEM" description="GROUPS_MENU_ITEM_DESC"/>
        <field name="organizer" type="text" label="GROUPS_ORGANIZER_URL" description="GROUPS_ORGANIZER_URL_DESC"
               default="www.thm.de/organizer"/>
    </fieldset>
    <fieldset name="permissions" label="GROUPS_PERMISSIONS" description="GROUPS_PERMISSIONS_DESC">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" component="com_groups" filter="rules"
               section="component" validate="rules"/>
    </fieldset>
</config>